<div class="card" style="padding-top: 20px;padding-left: 45px;padding-right: 20px;" >
    <div class="card-body" style="text-align: center;color: #006994;font-size: x-large;">
      Data speed/range Settings
    </div>
    <div fxLayout="row" class="mat-elavation-z4" style="padding-left: 20px;;margin-top: 30px;" fxLayoutGap="10px">

        <div fxFlex="100" style="border-radius: 5px;border-width: 1px;border-color: navy;border-style:solid;">
            <h5 style="text-align: center;padding-top:20px;">Set Data</h5>
            <div fxLayout="row" style="padding-bottom:20px;margin-left:25px">
                
                <div fxFlex="20">
                  <button mat-fab color="primary" (click)="sf_chan(1)">7</button>
                </div>
                <div fxFlex="20">
                  <button mat-fab color="primary" (click)="sf_chan(2)">8</button>
                </div>
                <div fxFlex="20">
                  <button mat-fab color="primary" (click)="sf_chan(3)">9</button>
                </div>
                <div fxFlex="20">
                    <button mat-fab color="primary" (click)="sf_chan(4)">10</button>
                </div>
                <div fxFlex="20">
                    <button mat-fab color="primary" (click)="sf_chan(5)">11</button>
                </div>
              </div>
        </div>
    </div>
</div>
