<div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch" style="margin-left: 50px;margin-top: 10px !important;padding-top: 0 !important;">

    <div class="mb10" fxFlex="15"  style="margin-top: 0 !important;padding-top: 0 !important;" >
        <mat-card style="max-width: 300px; height: 60px;">
          <mat-card-header>
            <mat-icon mat-card-avatar style="font-size:xx-large;color:tomato">account_circle</mat-icon>
            <mat-card-subtitle style="padding-top: 1px;font-size: small;color: black;">{{username}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="mb10" fxFlex="15"  style="margin-top: 0 !important;padding-top: 0 !important;" >
        <mat-card style="max-width: 300px; height: 60px;">
          <mat-card-header>
            <mat-icon mat-card-avatar style="font-size:xx-large;color:royalblue;">phone</mat-icon>
            <mat-card-subtitle style="padding-top: 1px;font-size: small;color: black;">{{userPhone}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="mb10" fxFlex="18"  style="margin-top: 0 !important;padding-top: 0 !important;" >
        <mat-card style="max-width: 300px; height: 60px;">
          <mat-card-header>
            <mat-icon mat-card-avatar style="font-size:xx-large;color:royalblue;">mail</mat-icon>
            <mat-card-subtitle style="padding-top: 1px;font-size: small;color: black;">{{useremail}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="mb10" fxFlex="15"  style="margin-top: 0 !important;padding-top: 0 !important;" >
        <mat-card style="max-width: 300px; height: 60px;">
          <mat-card-header>
            <mat-icon mat-card-avatar style="font-size:xx-large;color:lightslategrey">A</mat-icon>
            <mat-card-subtitle style="padding-top: 1px;font-size: small;color: black;">{{agentName}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="mb10" fxFlex="15"  style="margin-top: 0 !important;padding-top: 0 !important;" >
        <mat-card style="max-width: 300px; height: 60px;">
          <mat-card-header>
            <mat-icon mat-card-avatar style="font-size:xx-large;color:indianred">A</mat-icon>
            <mat-card-subtitle style="padding-top: 1px;font-size: small;color: black;">{{agentPhone}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="mb10" fxFlex="15"  style="margin-top: 0 !important;padding-top: 0 !important;" >
        <mat-card style="max-width: 300px; height: 60px;">
          <mat-card-header>
            <mat-icon mat-card-avatar  style="font-size:xx-large;color: green;">Activate Date</mat-icon>
            <mat-card-subtitle style="padding-top: 1px;font-size: small;color: black;">{{activateDate}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    
    
      </div>