
<div style="overflow-x: hidden;">
    <div style="margin-top: 22px;">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                <div fxFlex="100" >
                        <div fxFlex="33" style="text-align: center;">
                            <mat-fab style="color: darkblue;" (click)="gotochat()">
                                <mat-icon style="color: darkblue;cursor:pointer">chat</mat-icon>
                                <h4 style="color:#009dc4">Opl Comm</h4>
                            </mat-fab>
                        </div>
                        <div fxFlex="33" style="text-align: center;">
                            <mat-fab style="color: darkblue;">
                                <mat-icon style="color: darkblue;cursor:pointer" (click)="long_message()" >mail</mat-icon>
                                <h4 style="color:#009dc4">Formatted Messaging</h4>
                            </mat-fab>
                        </div>
                        <div fxFlex="33" style="text-align: center;">
                            <mat-fab style="color: darkblue;">
                                <mat-icon style="color: darkblue;cursor:pointer" (click)="gotomap()">map</mat-icon>
                            </mat-fab>
                            <h4 style="color:#009dc4">Positional Display</h4>
                            
                        </div>
                </div>
            </div>
            
            <div class="row" style="text-align: center;">
                <img style="display:block;margin-left: auto;margin-right: auto;height: 200px !important;max-height: 200px !important;"  src="assets/bn_trans.png" />
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">    
                <div fxFlex="100" >
                    <div fxFlex="33" style="text-align: center;margin-top: 15px;">
                        <mat-fab style="color: darkblue;">
                            <mat-icon style="color: darkblue;cursor:pointer" (click)="gotovoiceset()">settings_voice</mat-icon>
                            <h4 style="color:#009dc4">Voice Settings</h4>
                        </mat-fab>
                    </div>
                    <div fxFlex="33" style="text-align: center;">
                        <img style="display:block;margin-left: auto;margin-right: auto;width: 180px;"  src="assets/Bijoy-50_2.png" />
          
                    </div>
                    <div fxFlex="33" style="text-align: center;margin-top: 10px;">
                    
                        <mat-fab style="color: darkblue;">
                            <mat-icon style="color: darkblue;cursor:pointer" (click)="gotodataset()">settings</mat-icon>
                            <h4 style="color:#009dc4">Data Settings</h4>
                        </mat-fab>
                    </div>

                </div>
            </div>
    
    </div>





</div>










