<div class="container">
    <div class="d-flex justify-content-center h-100 w-100">
      <div class="card">
        <div class="card-header">
          <h3>Add New Ship</h3>

        </div>
        <div class="card-body">
          <form [formGroup]="Forms">
            <div class="input-group form-group">
              <input type="text" class="form-control" placeholder="id" formControlName="uid">
            </div>
            <div class="input-group form-group">
              <input type="text" class="form-control" placeholder="name" formControlName="ship">
            </div>
          <!--
              <mat-form-field style="width: 100% !important;">
                <mat-label>Ship name</mat-label>
                  <select matNativeControl formControlName="ship" name="ship">
                    <option *ngFor="let ship of ship_list" [value]="ship">
                      {{ship}}
                    </option>
                  </select>
                  <mat-hint>Ship name</mat-hint>
              </mat-form-field>
            -->
              <mat-form-field style="width: 100% !important;">
                <mat-label>Type</mat-label>
                  <select matNativeControl formControlName="uname" name="uname">
                    <option *ngFor="let ship of ship_type_list" [value]="ship">
                      {{ship}}
                    </option>
                  </select>
                  <mat-hint>Ship type</mat-hint>
              </mat-form-field>
              <!--
              <input type="text" class="form-control" placeholder="ship" formControlName="ship">
              -->
          
            <div class="form-group">
              <input type="submit" value="ADD" (click)="FormSubmit()"  [disabled]="!Forms.valid" class="btn float-right login_btn">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <ngx-spinner></ngx-spinner>